.menu-button {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &:hover .icon-cross {
    fill: var(--accent-color);
  }

  &.is-open .icon-menu {
    display: none;
  }

  &:hover .icon-menu {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button__icon {
  display: block;
}

.menu-container {
  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background-color: #fff;

    padding-top: 60px;
    padding-bottom: 60px;

    z-index: 1;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}
